@import "reset.css";
@import "vars.css";
@import "navbar.css";
@import "footer.css";

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--navlink);
  transition: all linear 0.25s;
}

li {
  display: inline-block;
  height: 100%;
  margin: 0 1rem;
}

li a:hover {
  color: var(--navlink_hover);
}

li a:active {
  color: var(--navlink_hover);
}

.active {
  color: var(--active_class);
}
